In [1]:
import pandas as pd
import numpy as np

In [3]:
data_raw = pd.read_csv("data/AAPL.csv")
data_raw.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2015-12-17,28.004999,28.062500,27.245001,27.245001,25.241716,179091200
1,2015-12-18,27.227501,27.379999,26.452499,26.507500,24.558443,385813200
2,2015-12-21,26.820000,26.842501,26.392500,26.832500,24.859543,190362400
3,2015-12-22,26.850000,26.930000,26.612499,26.807501,24.836382,131157600
4,2015-12-23,26.817499,27.212500,26.799999,27.152500,25.156017,130629600