In [14]:
import pandas as pd
import numpy as np

In [15]:
df_raw = pd.read_csv("data/AAPL_No_Dates.csv")
df_raw.head()

        Open       High        Low      Close  Adj Close     Volume
0  28.004999  28.062500  27.245001  27.245001  25.241716  179091200
1  27.227501  27.379999  26.452499  26.507500  24.558443  385813200
2  26.820000  26.842501  26.392500  26.832500  24.859543  190362400
3  26.850000  26.930000  26.612499  26.807501  24.836382  131157600
4  26.817499  27.212500  26.799999  27.152500  25.156017  130629600

In [16]:
dt_rng = pd.date_range(start="12/17/2015", end="12/16/2020", freq="B")
dt_rng

DatetimeIndex(['2015-12-17', '2015-12-18', '2015-12-21', '2015-12-22',
               '2015-12-23', '2015-12-24', '2015-12-25', '2015-12-28',
               '2015-12-29', '2015-12-30',
               ...
               '2020-12-03', '2020-12-04', '2020-12-07', '2020-12-08',
               '2020-12-09', '2020-12-10', '2020-12-11', '2020-12-14',
               '2020-12-15', '2020-12-16'],
              dtype='datetime64[ns]', length=1305, freq='B')

In [17]:
df_raw.set_index(dt_rng)

ValueError: Length mismatch: Expected 1259 rows, received array of length 1305

In [18]:
dt_rng_2 = pd.date_range(start="12/17/2015", periods=1259, freq="B")
dt_rng_2

DatetimeIndex(['2015-12-17', '2015-12-18', '2015-12-21', '2015-12-22',
               '2015-12-23', '2015-12-24', '2015-12-25', '2015-12-28',
               '2015-12-29', '2015-12-30',
               ...
               '2020-09-30', '2020-10-01', '2020-10-02', '2020-10-05',
               '2020-10-06', '2020-10-07', '2020-10-08', '2020-10-09',
               '2020-10-12', '2020-10-13'],
              dtype='datetime64[ns]', length=1259, freq='B')

In [19]:
df_dateindex = df_raw.set_index(dt_rng_2)
df_dateindex.head()

AttributeError: 'NoneType' object has no attribute 'head'